.container-principal {
	margin-top: 16.7%;
	
	margin-left: 10%;
	margin-right: 10%;
    width: 80%;
    display: inline-block;

	background-color: rgba(255, 255, 255);
	border-top-color: rgb(255,20,147);
	border-top-style: solid;
	border-top-width: 8px;
	box-shadow: 2px 2px #000000;
    
    padding: 1%;

	
}
.div-cotainer{
    
    margin-left: 2%;
   
    
}
.div-cotainer-dados-pessoais{
    
    margin-left: 1%;
    
    
}
.container-interno-Dados-Pessoais{
    border: 1px solid;
    width: 97.7%;
    
    float: left;
    
    
    margin: 1%;
    
    
    padding-top: 2%;
    padding-bottom: 2%;
   
}
.container-interno-Contatos{
    border: 1px solid;
    width: 50%;
    
    float: left;
    display: block;
    
    
    margin: 1%;

    
    padding-top: 2%;
    padding-bottom: 2%;
    
}
.container-interno-Enderecos{
    border: 1px solid;
    width: 50%;
    
    float: left;
    display: block;
    margin: 1%;
    
    padding-top: 2%;
    padding-bottom: 2%;
    
}
.container-interno-Cursos{
    border: 1px solid;
    width: 45%;
    
    float: right;
    display: block;
    margin: 1%;
    
    padding-top: 2%;
    padding-bottom: 2%;
     
}
.container-interno-SocioEconomicas{
    border: 1px solid;
    width: 50%;
    
    float: left;
    display: block;
    margin: 1%;
    
    padding-top: 2%;
    padding-bottom: 2%;

}

.contenerBotao{
    
    width: 43%;
    
    float: right;
    
    
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;


    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;

}
.enviar-apagar
{
	display: flex;
	margin-right: 30%;
	margin-left: 30%;
	visibility: visible;
}