.entrada
{
	height: 35px;
	border-top: 0;
	border-left:0;
	border-right:0;
	font-size:14;
	border-bottom-color: #ADD8E6;
}
.obrigatorio
{
	color: red;
	
}
.formulario
{
	font-size:17;
}
.ocultos
{
	color: red;
	visibility:hidden;
}
.separador
{
	background-color:SkyBlue;
	font-size: 25;
}
.font14
{
	font-size: 14;
}
.area
{
	vertical-align: top;
	
}
.caixa
{
	text-align: left;
	
	margin-left: 25%;
	margin-right: 25%;
	width: 50%;
	
	box-shadow: 2px 5px #000000;
	border: outset ;
	
}
.bntDiv
{
	display: flex;
	margin-right: 35%;
	margin-left:25%;
}
.bnt
{
	margin-right: 10%;
	margin-left: 10%;
	width: 100px;
	height: 30px;
	font-size: 15px;
	background-color: DimGray;
	text-decoration: none;
	color: Black;
	cursor: pointer;
	
}
.bntEnviar
{
	margin-right: 30%;
	margin-left: 40%;
	width: 100px;
	height: 30px;
	font-size: 15px;
	background-color: DimGray;
	text-decoration: none;
	color: Black;
	cursor: pointer;
}
table,th,td{
	margin: 1%;
	border: 3px outset;
	border-collapse:collapse;
}