/*** o caminho na frente do nome refere-se à pagina aonde as propriedades estão sendo aplicadas*** */
footer{/* oportunidades/index.php */
    background-color: rgb(173,216,230);
	display: flex;
	margin-top: 3%;
	padding-top: 1%;
	padding-left: 10%;
	padding-right: 10%;
	color: #696969;
}
.footerDivLeft{ /* oportunidades/index.php */
	margin-left: 2%;
	margin-right: 5%;
	text-align: left;
	border: none #000000;
}
.footerDivCenter{ /* oportunidades/index.php */
	text-align: left;
	margin-left: 10%;
	margin-right: 10%
}
.footerDivRight{ /* oportunidades/index.php */
	margin-left: 5%;
	margin-right: 2%
}
.top{
	width: 30px;
}

.entrada {

	height: 35px;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	font-size: 14;
	border-bottom-color: #ADD8E6;
}

.obrigatorio {/* oportunidades/index.php */
	color: red;
}

.formulario {/*varios*/
	font-size: 17;
}



.ocultos {/* oportunidades/index.php */
	color: red;
	visibility: hidden;
}

.separador {/* oportunidades/index.php */
	background-color: SkyBlue;
	font-size: 25;
	text-align: center;
}
.separador-page-exibir {/* oportunidades/exibir.php */
	background-color: SkyBlue;
	font-size: 25;
	
}


.caixa {
	margin-top: 15.5%;
	text-align: left;
	margin-left: 25%;
	margin-right: 25%;
	width: 50%;
	background-color: rgb(255, 255, 255);
	border-top-color: rgb(255,20,147);
	border-top-style: solid;
	border-top-width: 8px;
	box-shadow: 2px 2px #000000;
	padding-bottom: 2%;
	
}
.caixaExportar {/* adm/index.php */
	margin-top: 17%;
	text-align: left;
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
	height: 90%;
	background-color: rgb(255, 255, 255);
	border-top-color: rgb(255,20,147);
	border-top-style: solid;
	border-top-width: 8px;
	box-shadow: 2px 2px #000000;
	padding-bottom: 2%;
	
	
	
}

.caixaImprimir{/* oportunidades/exibir.php */
	margin-top: 15.5%;
	text-align: left;
	margin-left: 5%;
	margin-right: 5%;
	width: 80%;
	background-color: rgb(255, 255, 255);
	border: none;
}

.bntDiv {
	display: flex;
	margin-right: 25%;
	margin-left: 25%;
	visibility: visible;
}
.enviar-voltar
{
	display: inline-flex;
	margin-right: 30%;
	margin-left: 30%;
	visibility: visible;
}
.bntDivImprimir {
	display: flex;
	margin-right: 20%;
	margin-left: 20%;
	visibility: hidden;
}
.bntCaddastrar{
	margin-left: 35%;
	width: 100px;
	height: 30px;
	font-size: 15px;
	background-color: rgb(182, 176, 176);
	color: Black;
	cursor: pointer;
}
.bntDeletar{
	margin-right: 35%;
	width: 100px;
	height: 30px;
	background-color: rgb(182, 176, 176);
	font-size: 15px;
	color: Black;
	cursor: pointer;
}
.bnt {
	margin-right: 5%;
	margin-left: 5%;
	width: 100px;
	height: 30px;
	font-size: 15px;
	background-color: rgb(182, 176, 176);
	
	color: Black;
	cursor: pointer;
}
.bntEX {/* adm/index.php */
	margin-right: 1%;
	margin-left: 1%;
	width: 150px;
	height: 30px;
	font-size: 15px;
	background-color: rgb(182, 176, 176);
	
	color: Black;
	cursor: pointer;
}
.bntEnviar{/* adm/index.php */
	margin-right: 30%;
	margin-left: 40%;
	width: 100px;
	height: 30px;
	font-size: 15px;
	background-color: rgb(182, 176, 176);
	color: Black;
	cursor: pointer;
}

table, th, td {
	margin: 1%;
	border: 3px outset;
	border-collapse: collapse;
}



body {
	background-image: url("../icones/Banner.png");
	background-size: 100%;
	background-repeat: no-repeat;
	overflow-x: auto;
	margin: 0%;
	
}
.classMain{/* oportunidades/index.php */
	overflow-x: hidden;
}
