.entrada
{
	height: 35px;
	border-top: 0;
	border-left:0;
	border-right:0;
	font-size:14;
	border-bottom-color: #ADD8E6;
}
.obrigatorio
{
	color: red;
	
}
.formulario
{
	font-size:17;
}
.ocultos
{
	color: red;
	visibility:hidden;
}
.separador
{
	background-color:SkyBlue;
	font-size: 25;
}
.font14
{
	font-size: 14;
}
.area
{
	vertical-align: top;
	
}
.caixa
{
	text-align: left;
	position: relative;
	margin-left: 25%;
	margin-right: 25%;
	width: wrap_content;
	height: wrap_content;
	box-shadow: 2px 5px #000000;
	border: outset ;
	display: inline-grid;
}